{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %} | Модельная школа Stylish </title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- //Custom Theme files -->
<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/flexslider.css' %}" type="text/css" rel="stylesheet" media="screen" />
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
<!--pop-up-->
<script src="{% static 'js/menu_jquery.js' %}"></script>
<!--//pop-up-->
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="container">
      {% include "user_block.html" %}

			<div class="logo">
				<a href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" alt=""/></a>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="{% static 'images/menu.png' %}" alt=""/></span>
				<ul>
					<li><a class="active" href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'courses-list' %}">Курсы</a></li>
					<li><a href="{% url 'students-list' %}">Ученики</a></li>
					<li><a href="{% url 'contacts' %}">Контакты</a></li>
				</ul>
				<!-- script-for-menu -->
				<script>
							$("span.menu").click(function(){
								$(".top-nav ul").slideToggle("slow" , function(){
								});
							});
				</script>
				<!-- script-for-menu -->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//header-->

  {% block pagecontent %}
  {% endblock %}

	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-left">
				<p> © Developed by <a href="https://vk.com/puchnina_nastya"> Anastasia Puchnina</a>, designed by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
