{% extends "base.html" %}

{% block title %} Курс {{ course.name }} {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--courses-->
<div class="about">
  <div class="container">

    {% if error_msg %}
      <p class="alert alert-danger">{{ error_msg }}</p>

    {% else %}

    <h1 class="hdng">Курсы модельной школы</h1>

    <div class="about-text">
      <div class="col-md-12 about-text-right">
        <h4>{{ course.name }}</h4>
        <p><a href="{% url 'course-change' cid=course.id %}">Изменить данные о курсе</a></p>
        <p><a href="#" class="js-delete-course">Удалить этот курс</a></p>
        <p>Дата старта: {{ course.start_date }}</p>
        <p>Дата окончания: {{ course.end_date }}</p>
        <p>Цена курса: {{ course.price }}р</p>
        <p>Описание курса: <br> {{ course.description }}</p>
      </div>
    </div>
    <div class="clearfix"> </div>

    {% endif %}

  </div>
</div>
<!--//courses-->

{% endblock %}

{% block js %}
<script>
(function() {
  //console.log('hello');
  $('.js-delete-course').on('click', function() {
    var $this = $(this); // jquery nad objectom click
    console.log('delete course with cid: ' + {{ course.id }});
    $.post("{% url 'course-delete' cid=course.id %}", {
    }).then(function(data, responseText, jqXHR) {
		  if(jqXHR.status == 204) {
				alert("Курс был успешно удален!");
        location.replace("{% url 'courses-list' %}");
		}}).error(function(data) {
        alert("Ошибка", "Невозможно соединиться с сервером", "ошибка");
      });
    return false;
  })
})();
</script>
{% endblock %}
