{% extends "base.html" %}

{% block title %} Курсы {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--courses-->
<div class="about">
  <div class="container">
    <h1 class="hdng">Курсы модельной школы</h1>
			<br>
			<p><a href="{% url 'course-new' %}">Добавить новый курс</a></p>

			{% if error_msg %}
				<br>
				<p class="alert alert-danger">{{ error_msg }}</p>

			{% else %}
	      {% for current_course in courses %}
	        {% include "course_block.html" with course=current_course %}
	      {% endfor %}

			{% endif %}

  </div>
</div>
<!--//courses-->

{% endblock %}
