<div class="contact-form">
<form method="POST" enctype="multipart/form-data">
  {% for error in form.non_field_errors %}
      <p class="alert alert-danger">{{ error }}</p>
  {% endfor %}
  {% for field in form %}
    <div class="form-grids">
      <div class="form-group
        {% if field.errors %} has-error">{{ field.errors }}{% else %} "> {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
    </div>
  {% endfor %}
  {% csrf_token %}
  <input type="submit" name="" value="Submit">
  <div class="clearfix"> </div>
</form>
</div>
