{% extends "base.html" %}

{% block title %} {{ course_operation }} {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--course-form-->
<div class="about">
  <div class="container">
    <h1 class="hdng">Курсы модельной школы</h1>

    <div class="about-text">
      <div class="col-md-12 about-text-right">
        <h4>{{ course_operation }}</h4>

				{% if error_msg %}
					<p class="alert alert-danger">{{ error_msg }}</p>

				{% else %}
        	{% include "forms.html" with form=course_form %}

				{% endif %}
      </div>
    </div>
    <div class="clearfix"> </div>

  </div>
</div>
<!--//course-form-->

{% endblock %}
