{% extends "base.html" %}

{% block title %} Заказ {{ student.first_name }} {{ student.last_name }} {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--orders-->
<div class="about">
  <div class="container">

    {% if error_msg %}
      <p class="alert alert-danger">{{ error_msg }}</p>

    {% else %}

    <h1 class="hdng">Заказы учеников модельной школы</h1>

    <div class="about-text">
      <div class="col-md-12 about-text-right">
        <h4>Заказ номер {{ order.id }}</h4>
        <p><a href="{% url 'order-change' oid=order.id %}">Изменить данные о заказе</a></p>
				<p><a href="#" class="js-delete-order">Удалить этот заказ</a></p>
				<p>Сделан пользователем:
					{% if not order.user.id %}
					(Невозможно получить информацию о пользователе с id {{ order.user }})
					{% else %}
					<a href="{% url 'student-detail' sid=order.user.id %}">
						{{ order.user.first_name }} {{ order.user.last_name }}</a>
					{% endif %}
					<br>
				</p>
				<p>Дата заказа: {{ order.order_date }}</p>
				<p>Сумма заказа: {{ order.amount }}</p>
				<p>Заказ оплачен: {% if order.is_paid %}Оплачен{% else %}Не оплачен{% endif %}</p>
				<p>Заказанные курсы: <br>
					{% for current_course in order.courses %}
							{% if current_course.course_id %}
							(Невозможно получить информацию о курсе с id {{ current_course.course_id }})
							{% else %}
							<a href="{% url 'course-detail' cid=current_course.id %}">{{current_course.name }}</a>
							{% endif %}<br>
					{% endfor %}
				</p>
      </div>
    </div>
    <div class="clearfix"> </div>

    {% endif %}

  </div>
</div>
<!--//orders-->

{% endblock %}

{% block js %}
<script>
(function() {
  //console.log('hello');
  $('.js-delete-order').on('click', function() {
    var $this = $(this); // jquery nad objectom click
    console.log('delete order with oid: ' + {{ order.id }});
    $.post("{% url 'order-delete' oid=order.id %}", {
    }).then(function(data, responseText, jqXHR) {
		  if(jqXHR.status == 204) {
				alert("Заказ был успешно удален!");
        location.replace("{% url 'orders-list' %}");
		}}).error(function(data) {
        alert("Ошибка", "Невозможно соединиться с сервером", "ошибка");
      });
    return false;
  })
})();
</script>
{% endblock %}
