{% extends "base.html" %}

{% block title %} Профиль {{ student.first_name }} {{ student.last_name }} {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--students-->
<div class="about">
  <div class="container">

    {% if error_msg %}
      <p class="alert alert-danger">{{ error_msg }}</p>

    {% else %}

	    <h1 class="hdng">Ученики модельной школы</h1>

	    <div class="about-text">
	      <div class="col-md-12 about-text-right">
	        <h4>{{ student.first_name }} {{ student.last_name }}</h4>
	        <p><a href="{% url 'student-change' sid=student.id %}">Изменить данные об ученике</a></p>
					<p><a href="#" class="js-delete-student">Удалить этого ученика</a></p>
					<p>Email: {{ student.email }}
					<p>Номер телефона: {{ student.profile.phone_number }}</p>
					<p>Дата рождения: {{ student.profile.birth_date }}</p>
					<p>Рост: {{ student.profile.height }}</p>
			    <p>Грудь: {{ student.profile.bust }}</p>
					<p>Талия: {{ student.profile.waist }}</p>
					<p>Бедра: {{ student.profile.hips }}</p>
					<p>Цвет глаз: {{ student.profile.eyes }}</p>
					<p>Цвет волос: {{ student.profile.hair }}</p>
	      </div>
	    </div>
	    <div class="clearfix"> </div>

    {% endif %}

  </div>
</div>
<!--//students-->

{% endblock %}

{% block js %}
<script>
(function() {
  //console.log('hello');
  $('.js-delete-student').on('click', function() {
    var $this = $(this); // jquery nad objectom click
    console.log('delete student with sid: ' + {{ student.id }});
    $.post("{% url 'student-delete' sid=student.id %}", {
    }).then(function(data, responseText, jqXHR) {
		  if(jqXHR.status == 204) {
				alert("Студент был успешно удален!");
        location.replace("{% url 'students-list' %}");
		}}).error(function(data) {
        alert("Ошибка", "Невозможно соединиться с сервером", "ошибка");
      });
    return false;
  })
})();
</script>
{% endblock %}
