{% load static %}
<div class="col-md-6 news-grids">
  <div class="news-grids-left">
    <img src="{% static 'images/coco.jpg' %}" class="img-responsive" alt="/">
  </div>
  <div class="news-grids-right">
    <h5>{{ student.first_name }} {{ student.last_name }}</h5>
    <p>Рост: {{ student.profile.height }}</p>
    <p>Фигура: {{ student.profile.bust }}-{{ student.profile.waist }}-{{ student.profile.hips }}</p>
    <p><a href="{% url 'student-detail' sid=student.id %}">Подробнее</a></p>
  </div>
  <div class="clearfix"> </div>
</div>
