{% extends "base.html" %}

{% block title %} Ученики {% endblock %}

{% block pagecontent %}

<!--banner-->
	<div class="banner1 about-bnr">
	</div>
<!--//banner-->
<!--students-->
	<div class="news">
		<div class="container">
			<h1 class="hdng">Наши ученики</h1>
			<h2 class="hdng-two">Наша модельная школа имеет большое сообщество единомышленников, среди них:</h2>
			<br> <!-- TODO: menu only for staff users -->
			<p><a href="{% url 'student-new' %}">Добавить нового ученика </a></p>
			<br>
			<p><a href="{% url 'orders-list' %}">Просмотреть заказы всех учеников</a></p>
			<br>
			<p><a href="{% url 'payments-list' %}">Просмотреть платежи всех учеников</a></p>

			<div class="news-info">

				{% if error_msg %}
					{{ error_msg }}

				{% else %}
	        {% for current_student in students %}
	          {% include "student_block.html" with student=current_student %}
	        {% endfor %}

				{% endif %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//students-->

{% endblock %}
