<div class="header-left">
  <ul>
    <li><a href="#">ПРОФИЛЬ</a></li>
    <li class="login" >
      <div id="loginContainer"><a href="#" id="loginButton"><span>ВХОД</span></a>
          <div id="loginBox">
              <form id="loginForm">
            <fieldset id="body">
              <fieldset>
                <label for="email">Электронный адрес</label>
                <input type="text" name="email" id="email">
              </fieldset>
              <fieldset>
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password">
              </fieldset>
              <input type="submit" id="login" value="Войти">
            </fieldset>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
